circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

text {
	font-size:10px;
    fill: #0bcd00;
    font-weight: bold;
}



path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
